
<nav class="nav nav-pills nav-fill navbar-dark bg-dark" style="height: 50px; width: 1300px;">
        <a class="nav-item nav-link" href="/home" style="background-image: url(../assets/img/buslogo.jpg); background-repeat: no-repeat; "></a>
    <a class="nav-item nav-link" href="/home" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 25px;">Home</a>
    
    
    <!-- <a class="nav-item nav-link" href="/" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 25px;"></a> -->
</nav>

<router-outlet></router-outlet>

    